.project {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;

  h1 {
    color: #3e497a;
    font-size: 35px;
  }

  img {
    width: 700px;
    width: 100%;
    border-radius: 10px;
  }

  p {
    font-size: 25px;
    color: #3e497a;
    margin: 0 700px;
  }

  svg {
    font-size: 60px;
    color: #3e497a;
    margin-top: 30px;
  }

  svg:hover {
    color: #e9d35b;
  }
}

@media only screen and (max-width: 1440px) {
  .project {
    p {
      margin: 0 300px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .project {
    p {
      margin: 0 200px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .project {
    p {
      margin: 0 80px;
      font-size: 20px;
    }
  }
}

@media only screen and (max-width: 425px) {
  .project {
    p {
      margin: 0 40px;
      font-size: 20px;
    }
  }
}
