.projects {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: 20px;
  overflow: hidden;

  a {
    text-decoration: none;
  }

  h1 {
    color: #3e497a;
    margin-top: 18px;
    margin-bottom: 10px;
    font-size: 35px;
  }

  h2 {
    color: #3e497a;
    margin-top: 5px;
    font-size: 12px;
  }

  .projectTitle {
    text-align: center;
    color: #3e497a;
    font-size: 60px;
    font-weight: bolder;
  }
}

.projectList {
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

/* MENU ITEM STYLING */

.projectItem {
  border-radius: 15px;
  width: 350px;
  height: 300px;
  margin: 30px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  text-align: center;

  :hover {
    cursor: pointer;
  }

  .bgImage {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1 {
    font-size: 25px;
  }
  .description {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
  }

  .descriptionInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  svg {
    font-size: 60px;
    color: #3e497a;
    margin: auto;
    padding: 20px 20px 0 0;
  }

  svg:hover {
    color: #e9d35b;
  }
}

@media only screen and (max-width: 1300px) {
  .projectList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .projectList {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .projectList {
    width: 100%;
  }

  .projectItem {
    width: 350px;
    height: 300px;
  }
}

@media only screen and (max-width: 415px) {
  .projects {
    h1 {
      font-size: 25px;
    }
  }

  .projectList {
    width: 100%;
  }

  .projectItem {
    width: 88%;
    height: 290px;

    .bgImage {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      width: 100%;
      height: 190px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

@media only screen and (max-width: 320px) {
  .projectList {
    width: 100%;
  }

  .projectItem {
    width: 88%;
    height: 270px;

    .bgImage {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      width: 100%;
      height: 170px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
