.about {
  h1 {
    font-size: 70px;
    color: #e9d35b;
    height: 50px;
    margin-top: 150px;
  }
  span {
    font-size: 35px;
    color: white;
  }

  p {
    margin-top: 10px;
    font-size: 33px;
    color: white;
  }
}

.prompt {
  svg {
    font-size: 60px;
    margin: 5px;
    color: white;
  }

  svg:hover {
    color: #e9d35b;
  }
}

.content {
  position: absolute;
  top: 255px;
  left: 650px;
  transform: translate(-50%, -50%);
  height: 160px;
  overflow: hidden;
  font-size: 35px;
  line-height: 20px;

  &__container {
    font-weight: 600;
    overflow: hidden;
    height: 40px;
    padding: 0 40px;

    &__text {
      display: inline;
      float: left;
      margin: 0;
    }

    &__list {
      margin-top: 0;
      padding-left: 110px;
      text-align: left;
      list-style: none;

      -webkit-animation-name: change;
      -webkit-animation-duration: 10s;
      -webkit-animation-iteration-count: infinite;
      animation-name: change;
      animation-duration: 10s;
      animation-iteration-count: infinite;

      &__item {
        line-height: 40px;
        margin: 0;
      }
    }
  }
}

@-webkit-keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

@-o-keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-o-keyframes change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

@-moz-keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-moz-keyframes change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

@keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

@media only screen and (max-width: 1760px) {
  .content {
    left: 335px;
    font-size: 30px;
    top: 245px;
  }

  .about {
    h1 {
      font-size: 60px;
      margin-top: 150px;
    }
    span {
      font-size: 30px;
    }
  }
}

@media only screen and (max-width: 1300px) {
  .content {
    position: absolute;
    top: 205px;
    left: 204px;
    transform: translate(-50%, -50%);
    height: 160px;
    overflow: hidden;
    font-size: 30px;
    line-height: 20px;

    &__container {
      font-weight: 600;
      overflow: hidden;
      height: 40px;
      padding: 0 40px;

      &__text {
        display: inline;
        float: left;
        margin: 0 15px;
      }

      &__list {
        margin-top: 0;
        padding-left: 110px;
        text-align: left;
        list-style: none;

        -webkit-animation-name: change;
        -webkit-animation-duration: 10s;
        -webkit-animation-iteration-count: infinite;
        animation-name: change;
        animation-duration: 10s;
        animation-iteration-count: infinite;

        &__item {
          line-height: 40px;
          margin: 0;
        }
      }
    }
  }

  .about {
    margin-left: 80px;

    h1 {
      font-size: 60px;
      color: #e9d35b;
      height: 50px;
      margin-top: 50px;
    }
    span {
      font-size: 30px;
      color: white;
    }

    p {
      margin-top: 10px;
      font-size: 28px;
      color: white;
    }
  }
}

@media only screen and (max-width: 967px) {
  .content {
    position: absolute;
    top: 175px;
    left: 130px;
    transform: translate(-50%, -50%);
    height: 150px;
    overflow: hidden;
    font-size: 25px;
    line-height: 20px;

    &__container {
      font-weight: 600;
      overflow: hidden;
      height: 40px;
      padding: 0 40px;

      &__text {
        display: inline;
        float: left;
        margin: 0;
        padding-top: 5px;
        margin: 35px 15px 35px 35px;
      }

      &__list {
        margin-top: 0;
        padding-left: 110px;
        text-align: left;
        list-style: none;
      }
    }
  }

  .about {
    margin-left: 40px;

    h1 {
      font-size: 35px;
      color: #e9d35b;
      height: 50px;
      margin-top: 0px;
    }
    span {
      font-size: 30px;
      color: white;
    }

    p {
      margin-top: 5px;
      font-size: 23px;
      color: white;
    }
  }
}

@media only screen and (max-width: 645px) {
  .content {
    top: 187px;
    display: flex;
    justify-content: center;
    left: 145px;
    right: 0px;

    &__container {
      font-weight: 600;
      overflow: hidden;
      height: 25px;
      padding: 0px;

      &__text {
        display: inline;
        float: left;
        margin: 35px 15px 35px 35px;
        padding-top: 0px;
      }

      &__list {
        margin-top: -10px;
      }
    }
  }

  .about {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-left: 55px;
    margin-top: -190px;
  }

  .about {
    h1 {
      font-size: 45px;
      color: #e9d35b;
      height: 35px;
      margin-top: -60px;
    }
    span {
      font-size: 25px;
      color: white;
    }

    p {
      margin-top: 0px;
      font-size: 21px;
      color: white;
    }
  }

  .prompt {
    svg {
      font-size: 55px;
      margin: 0px 5px 5px 5px;
      color: white;
    }

    svg:hover {
      color: #e9d35b;
    }
  }
}

@media only screen and (max-width: 375px) {
  .about {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-left: 45px;
    margin-top: -140px;
  }

  .about {
    h1 {
      font-size: 35px;
      color: #e9d35b;
      height: 35px;
      margin-top: 0px;
    }
    span {
      font-size: 20px;
      color: white;
    }

    p {
      margin-top: 0px;
      font-size: 17px;
      color: white;
    }
  }

  .prompt {
    svg {
      font-size: 55px;
      margin: 0px 5px 5px 5px;
      color: white;
    }

    svg:hover {
      color: #e9d35b;
    }
  }

  .content {
    top: 248px;
    left: 103px;
    right: 0px;
    font-size: 17px;

    &__container {
      font-weight: 600;
      overflow: hidden;
      height: 20px;
      padding: 0px;

      &__text {
        display: inline;
        float: left;
        margin: 35px 15px 35px 45px;
      }

      &__list {
        margin-top: -10px;
      }
    }
  }
}
